h2{
 color:#009900;
  font-family:Arial;
  height:20px;
}
p{
 color:black;
 font-family:Arial;
}
#header {
	z-index: 1;
	position: fixed;
	width:90%;
	margin-top: -20px;
	height: 60px;
	background-color: #99ff99;
	margin-bottom: 10px;
}
#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #3366cc;
}
#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #3366cc;
}
